.page {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }

  .login {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 150px 20px 10px 20px;

    >div {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-top: 20px;
    }

    .inputText {
      width: 100%;
      padding: 10px 10px 10px 32px;
    }

    .loginButton {
      margin: 10px 0 5px 0;
      padding: 10px 0;
      width: 100%;
      background: #AB8D48;
    }

    .copyright {
      align-self: center;
      margin-top: 30px;
      font-family: '黑体';
    }

    .error {
      color: red;
      align-self: flex-start;
    }

    .remember {
      font-size: 14px;
    }

    input[type=checkbox] {
      margin-right: 10px;
    }

    p {
      font-size: 12px;
    }

    i {
      position: absolute;
      top: 12px;
      left: 12px;
    }

    a {
      color: #03A9F4;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}